<!doctype html>
<html lang="en">
    <head>
        {{template "base-head"}}
        <title>Cipher|Experiment</title>
        <link rel="stylesheet" href="/css/picking-algs.css">
    </head>
    <body>
        <div id="current-user-panel">
            <a class="img-wrapper" href="/api/profile">
                <img src="/image/van.jpg" alt="profile logo" width="50" height="50">
            </a>
            <strong>{{.}}</strong> <br>
            <a id="logout" href="/auth/logout" style="font-size: 12pt">Выйти</a>
        </div>

        <div id="return-wrapper">
            <button id="return-button" type="button" onclick="window.location.href='/api/experiment'">К выбору алгоритмов</button>
        </div>

        <form id="cipher-form" action="/api/experiment/start-cipher-experiment" method="post">
            <h1>Выберите алгоритмы для сравнения</h1>
            <strong>Установка пределов для графика</strong>
            <div class="inputs">
                <input type="text" id="from" class="plot-info" name="from" placeholder="От">
                <input type="text" id="to" class="plot-info" name="to" placeholder="До">
                <input type="text" id="step" class="plot-info" name="step" placeholder="Шаг">
                <input type="text" id="num" class="plot-info" name="num" placeholder="Число замеров">
            </div>

            <div class="select-wrapper">
                <button id="-" type="button" class="quantity"  onclick="RemoveSelect()" disabled>Удалить</button>
                <button id="+" type="button" class="quantity" onclick="AddSelect()">Добавить</button>
            </div>

            <script src="/js/plus_cipher.js"></script>
            <script src="/js/minus_cipher.js"></script>

            <div class="select-wrapper">
                <input type="submit" id="begin" style="width: 100%; margin-left: 0" value="Начать">
            </div>

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="/js/json_body_query.js"></script>
            <script src="/js/ciphers.js"></script>

            <div id="alg-1-wrapper" class="select-wrapper">
                <select id="alg-1" class="select-alg">
                    <option selected disabled>Выберите алгоритм шифрования</option>
                    <option value="Кузнечик">Кузнечик</option>
                    <option value="AES128-GCM">AES128-GCM</option>
                    <option value="AES128-CFB">AES128-CFB</option>
                    <option value="DES-GCM">DES-GCM</option>
                    <option value="DES-CFB">DES-CFB</option>
                </select>
            </div>
        </form>
    </body>
</html>

