<!doctype html>
<html lang="en">
    <head>
        {{template "base-head"}}
        <link rel="stylesheet" href="/css/experiment-choice.css">
        <title>DIWOR|Experiment</title>
    </head>
    <body>
        <div id="current-user-panel">
            <img src="/image/van.jpg" alt="profile logo" width="50" height="50">
            <strong>{{.}}</strong> <br>
            <a href="/auth/logout" style="font-size: 12pt">Выйти</a>
        </div>

        <div id="choice-panel-wrapper">TO BE IMPLEMENTED</div>
    </body>
</html>

