<!doctype html>
<html lang="en">
    <head>
        {{template "base-head"}}
        <title>Hash|Experiment</title>
        <link rel="stylesheet" href="/css/picking-algs.css">
    </head>
    <body>
        <div id="current-user-panel">
            <a class="img-wrapper" href="/api/profile">
                <img src="/image/van.jpg" alt="profile logo" width="50" height="50">
            </a>
            <strong>{{.}}</strong> <br>
            <a id="logout" href="/auth/logout" style="font-size: 12pt">Выйти</a>
        </div>

        <img class="altera" src="/image/altera.gif" alt="flex">

        <form id="hash-form" action="/api/experiment/start-hash-experiment" method="post">
            <h1>Выберите алгоритмы для сравнения</h1>
            <div class="select-wrapper">
                <button id="-" type="button" class="quantity"  onclick="RemoveSelect()" disabled>Удалить</button>
                <button id="+" type="button" class="quantity" onclick="AddSelect()">Добавить</button>
            </div>

            <script src="/js/plus_select.js"></script>
            <script src="/js/minus_select.js"></script>

            <div class="select-wrapper">
                <input type="submit" id="begin" style="width: 100%; margin-left: 0" value="Начать">
            </div>

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="/js/json_body_query.js"></script>
            <script src="/js/hashes.js"></script>

            <div id="alg-1-wrapper" class="select-wrapper">
                <select id="alg-1" class="select-alg">
                    <option selected disabled>Выберите алгоритм хеширования</option>
                    <option value="Streebog-256">Стрибог-256</option>
                    <option value="Streebog-512">Стрибог-512</option>
                    <option value="SHA-224">SHA-224</option>
                    <option value="SHA-256">SHA-256</option>
                    <option value="SHA-384">SHA-384</option>
                    <option value="SHA-512">SHA-512</option>
                    <option value="RIPEMD-128">RIPEMD-128</option>
                    <option value="RIPEMD-160">RIPEMD-160</option>
                    <option value="RIPEMD-256">RIPEMD-256</option>
                    <option value="RIPEMD-320">RIPEMD-320</option>
                    <option value="MD5">MD5</option>
                </select>
            </div>
        </form>
    </body>
</html>

