<!doctype html>
<html lang="en">
    <head>
        {{template "base-head"}}
        <link rel="stylesheet" href="/css/form.css">
        <title>DIWOR|Login</title>
        <script src="/js/json_body_query.js"></script>
    </head>

    <body>
        <img class="altera" src="/image/altera.gif" alt="flex">
        <h1>{{.}}</h1>
        <form class="form" name="login-info" method="post" action="/auth/sign-in">
            <h1>Вход в систему</h1>
            <label for="username">Логин:</label><br>
            <input type="text" name="username" id="username"> <br><br>

            <label for="password">Пароль:</label><br>
            <input type="password" name="password" id="password"> <br><br>

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="/js/login.js"></script>
            <button type="submit">Подтвердить</button>
            <a href="/auth/register">Не зарегистрированы?</a>
        </form>
    </body>
</html>


