#hash-form {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 50%;

    display: inline-block;
    text-align: center;
    align-content: center;
    background-color: mediumpurple;

    border: solid black 3px;
    border-radius: 15px;
}

.altera {
    display: block;
    margin-left: 80%;
    margin-top: -11%;
}

select, select > optgroup {
    size: 18pt;
}
