@use 'definitions' as *

$bg-light: #c7a5fd

#hash-form, #cipher-form
  @extend %centralized-block
  @include rounded-border

  display: grid
  grid-template-columns: minmax(40%, auto)
  grid-template-rows: minmax(auto, auto)
  grid-row-gap: 10px
  background-color: #a27df3

#return-wrapper
  display: block
  position: absolute

  border-radius: $radius
  width: 150pt

  margin-left: 10pt
  margin-top: 10pt

#return-button
  position: relative
  display: block
  cursor: pointer

  background-color: mediumpurple
  color: whitesmoke
  font-size: $font-large
  font-weight: bold

  border-radius: inherit
  width: $full

.select-wrapper
  @include rounded-border($bg-light)
  background-color: $bg-light

  display: inline-block
  justify-content: center

  margin-bottom: 10px

  select
    cursor: pointer
    color: white
    text-align: center
    background-color: inherit
    border-radius: inherit
    width: $full

  button, #begin
    display: inline-block
    cursor: pointer

    background-color: #a27df3
    color: whitesmoke
    font-size: $font-large
    font-weight: bold

    border-radius: inherit

    margin-left: 5%
    width: 40%

.inputs
  input
    border-radius: 12px
    display: inline-block
    width: 23%

    font-size: 16px
    text-align: center

strong
  @include centralize
  font-size: $font-large
